/*
colors
#959ba9 - grayish blue
#F9F6F0 - light gray (background)
#4b5673 - dark blue (primary)
#bfa156 - tan (secondary)
#947777 - reddish brown (alternate secondary)
#73674B - dark brown
*/

/* Fonts
font-family: futura-pt, sans-serif;
  light
    font-family: futura-pt, sans-serif;
    font-weight: 300;
  font-style: normal;
  Book
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;

font-family: futura-pt-condensed, sans-serif;
  Book
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
  Medium
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;

font-family: psfournier-std, sans-serif;
  light
    font-family: psfournier-std, sans-serif;
    font-weight: 300;
    font-style: normal;
  Regular
    font-family: psfournier-std, sans-serif;
    font-weight: 400;
    font-style: normal;
*/

/* General */
* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
/* Typography */
body {
    background-color: #F9F6F0;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px; /* Sets the font size to 16px */
    line-height: 1.7; /* Sets the line-height to 1.6 * the font-size */
    color: #4b5673;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

/* Heading Styles */
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: "psfournier-std", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.875rem;
  line-height: 1.3;
}

h2 {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  text-transform: uppercase;
}

h3 {
  font-family: "psfournier-std", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
}
h4 {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h5.tags {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  font-style: normal;
}

@media screen and (min-width: 808px) {
  #hero h1 {
    font-size: 2.55rem;
  }
}
/* -----Navigation----- */
header.nav-wrapper {
  align-items: flex-start;
  padding: 25px;
  display: flex;
  position: static;
  height: 110px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative;
  top: 0px;
  padding-top: 15px;
  text-align: left; */
  /* box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5); */
}

@media screen and (min-width: 480px) {
  header.nav-wrapper {
    align-items: center;
    padding: 0 25px;
    height: 64px;
    flex-direction: row;
  }
}
/* .nav-wrapper {
  margin-bottom: 0.25em;
} */
.right-nav, .left-logo {
  display: flex;
  margin-bottom: 0.25em;
}
a.nav-link {
  transition: all .3s ease-in-out;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 0;
  display: flex;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -0.01em;
  color: #4b5673;
  /* padding: 0 15px;
  display: inline-block;
  color: #4b5673;
  text-decoration: none; /* No underlining */
  /* font-size: 1.125rem; */
}
a.nav-link:hover {
  font-weight: 700;
  transition: .5s;
}
a.nav-link:active {
  font-weight: 700;
}
/* .left-logo {
  margin-left: -15px;
} */
/* .nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
/* .right-nav {
  margin-left: -15px;
} */

/* ----Content Styling---- */
.max-width {
  max-width: 1080px;
  margin: auto;
}
.work-wrapper.mt-1rem {
  margin-top: 5rem;
}
@media (max-width: 546px) {
.main-wrapper, .nav-wrapper {
    padding-left: 24px;
    padding-right: 24px;
}
.main-wrapper {
  padding-bottom: 180px;
}
}
@media screen and (min-width: 415px) {
  .main-wrapper {
    padding-left: 46px;
    padding-right: 46px;
    max-width: 888px;
    margin: auto;
  }
  .nav-wrapper {
    padding: 0 24px;
    margin: auto;
  }
}
/* ----PROJECTS LISTING---- */
/* Stop card from breaking out of layout on screens smaller than 370px */
@media screen and (max-width:559px) {
  .cards-grid {
    display: block;
  }
  .single-card {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .card-flex-bottom {
    display: block;
    padding-bottom: 2rem;
  }
  /* .single-card {
    padding-bottom: 2rem;
  } */
}

/* Adjust spacing of gallery grid */
@media (min-width: 560px) {
  .single-card {
      max-width: 888px;
      height: 100%;
      -moz-transition: background .12s ease-in 0s;
      transition: background .12s ease-in 0s;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 46px;
    gap: 46px;
    grid-row-gap: 66px;
    border-top: none;
    max-width: 888px;
    margin: auto;
  }


}
@media (min-width: 864px) {

}




/* Modified styles */
/* nav {
  display: flex;
  width: 100%;
  margin: auto;
} */
/* nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
nav {
  display: flex;
  flex-direction: row;
} */

/* nav > ul > li {
  display: inline-block;
} */

/* nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: #4b5673;
} */

/* Header */

/* Buttons */
a.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  text-transform: uppercase;
  font-size: 0.9rem;
  background-color: #4b5673;
  color: #F9F6F0; /* needed to override the default link color */
  padding: 10px;
  border-radius: 3px;
  border: 0px solid #73674B; /* width of the border, type, color */
  transition: 0.2s opacity;
}
/* Index  */
/* Project animation */
.sun {
  animation-name: rise;
  animation-duration: 4s;
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
  animation-timing-function: linear;
  fill: #f7941d;
}
@keyframes rise {
          0% {transform:translateY(150px); fill: #ffefd5;}
          25% {transform:translateY(100px); fill: #ffc87c;}
          50% {transform:translateY(50px); fill: #ffb347;}
          100% {transform:translateY(0px); fill: #f7941d;}
        }
@keyframes fadeIn {
  0% {opacity:0}
  75% {opacity:0}
  100% {opacity:1}
}

.animate__fadeIn {
 animation-name:fadeIn;
 animation-duration: 4s;
 /* animation-iteration-count: infinite; */
}
picture.animated {
  max-width: 767px;
}

/* Layout-general */
/* .container {
  padding: 0 24px;
  margin: auto;
} */
/* Layout-index */
/* .cards-grid {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
} */
.card-text {
  /* padding-top: 15px; */
}
/* .card-text {
  display: flex;
  flex-direction: column;
  justify-content:
} */
/* .nav-link {
  transition: all .3s ease-in-out;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 0;
  display: flex;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-decoration: none;
} */

/* Layout styling */
/* nav {
  align-items: flex-start;
  padding: 25px;
  display: flex;
  position: static;
  height: 110px;
  width: 100px;
  flex-direction: column;
  justify-content: space-between;
}
.left {
  max-width: 500px;
} */




/* header .container {
  position: absolute;
  top: 0px;
} */


/* #hero {
  background-color: #F9F6F0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.row {
  margin: 25px 0;
} */





#work .row { padding-bottom: 25px; border-bottom: 1px solid #4b5673; }

/* footer styling */
.footer-logo {
  display: inline-block;
  width: 50px;
}
/* ABOUT-stylings */
  picture.profile-pic {
    display: inline-block;
    max-width: 500px;
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
  }
  .skills-tools-wrapper {
    display: flex;
    flex-direction: column;
  }
/* Media queries */
@media only screen and (min-width: 560px) {
  .skills-tools-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .container {
    max-width: 570px;
  }
}
/* ==============================
Medium devices (640px and larger)
================================= */

/* @media only screen and (min-width: 640px) {
  .container {
    padding: 0 46px;
    max-width: none;
  }
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  } */
/* Responsive changes-Index  */
  /* .cards-grid { grid-template-columns: repeat(2, 1fr); }
  .nav-wrapper {
    flex-direction: row;
  }
  .logo {
    display: inline-block;
    max-width: 250px;
  }
  .single-card {
  } */

/* Responsive changes-About    */
  /* .skills-tools-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
} */
/* ==============================
Large devices (1024px or larger)
================================= */
/* @media only screen and (min-width: 1024px) {
  .container {
    max-width: 928px;
  }
  h1 {
    font-weight: 400;
    font-style: normal;
  } */
  /* Responsive changes-ABOUT  */
  /* .about-wrapper {
    display: block;
  }
  .grid-row-XL {
    display: grid;
    grid-template-columns: 550px auto;
  }
  .skills-tools-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
} */
/* ==============================
XL devices (1440px or larger)
================================= */
/* @media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
} */
/* Extra large devices (1440px or larger) */
/* @media only screen and (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
} */
